<div class='list_box'>
	<table id="installed_peripherals_table" class="associated_object_table">
		<% @computer.peripherals.each do |member| %>
			<tr>
				<td class="title">
					<%= member.short_name %> 
				</td>
				<td>
					<%= link_to_remote "X", :url => { 	:action	=> :remove_installed_peripheral,
														:peripheral_id	=>	member.id,
														:confirm	=>	("Are you sure you want to delete " + member.short_name + "?")} %>
				</td>
			</tr>
		<% end %>
	</table>
</div>