<table id="peripheral_table">
	<tr>
		<th>Serial Number</th>
		<th>Model</th>
	</tr>
	<% Peripheral.find_all_by_po_number(@purchase_order.po_number).each do |periph|%>
		<%= render :partial => 'peripherals/embedded_peripheral_row', :locals => {:periph => periph} %>
	<% end %>
</table>