<h1>New Purchase Order</h1>
<% form_for(@purchase_order) do |f| %>
	<%= f.error_messages %>
	PO: <%= f.text_field(:po_number) %><br />
	Division: <%= f.select(:division_id, 
			  options_from_collection_for_select(Division.find(:all),
			  "id",
			  "display_name"), :include_blank => true) %>
  	<p>
    	<%= f.submit 'Create' %>
  	</p>
<% end %>
