<h1>New Purchase Order</h1>
<% form_for(@purchase_order) do |f| %>
	<%= f.error_messages %>
	PO: <%= f.text_field(:po_number) %><br />
	Division: <%= f.select(:division, division_options) %>
  	<p>
    	<%= f.submit 'Create' %>
  	</p>
<% end %>
