<table>
	<tr>
		<td>Owner:</td> 
		<td><%= text_field(:computer, :owner) %></td>
	</tr>
	<tr>
		<td>System Role:</td> 
		<td><%= select(:computer, :system_role, system_roles) %></td>
	</tr>
	<tr>
		<td>System Name:</td> 
		<td><%= text_field(:computer, :name) %></td>
	</tr>
	<tr>
		<td>Domain:</td>
		<td>
			<%= select(	:computer, 
						:domain_id, 
						options_from_collection_for_select(
							Domain.find(:all),
  							"id",
  							"name"))%>
		</td>
	</tr>
</table>