<h1>New computer</h1>

<% form_for(@computer) do |f| %>
  	<%= render :partial => "computers/new_form", :locals => {:f => f} %>
<% end %>

<%= link_to 'Back', computers_path %>

<%= observe_field('computer_stage_id',
                  :frequency 	=> 0.5,
                  :function 	=> stage_change) %>