<h1>Editing action</h1>

<% form_for(@action) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @action %> |
<%= link_to 'Back', actions_path %>