<p>
  <b>Name:</b>
  <%=h @division.name %>
</p>

<p>
  <b>Divisions:</b>
  <%=h @division.divisions %>
</p>


<%= link_to 'Edit', edit_division_path(@division) %> |
<%= link_to 'Back', divisions_path %>