<h1>Editing peripheral</h1>

<% form_for(@peripheral) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @peripheral %> |
<%= link_to 'Back', peripherals_path %>