<h1>Editing peripheral</h1>
<%= render :partial => "peripherals/peripheral_data"%>
<% form_for(@peripheral) do |f| %>
	<%= render :partial => 'edit_form', :locals => { :f => f } %>
<% end %>

<%= link_to 'Show', @peripheral %> |
<%= link_to 'Back', peripherals_path %>
