<p>
	Default Install Task: 
	<%= select :package_map, :default_install_task, 
			  options_from_array_of_hashes(@tasks,
						      "name",
						      "name"),
			{:include_blank => true}%><br />
	Default Uninstall Task:
	<%= select :package_map, :default_uninstall_task, 
			  options_from_array_of_hashes(@tasks,
						      "name",
						      "name"),
			{:include_blank => true} %>
      </p>